@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #101111;
  --background: #F6F6F7;
  --primary: #778496;
  --secondary: #ACB6C5;
  --accent: #90A1B9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #EFF0F0;
    --background: #070708;
    --primary: #687587;
    --secondary: #3B4554;
    --accent: #45566E;
  }
}

body {
  color: var(--text);
  background: var(--background);
}


